#nav-bar {
	background-color: black;
	overflow: hidden;
}
#nav-container {
	float: left;
	width: 100%;
	position: relative;
}
#nav-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	float: left;
}
#nav-bar ul li {
	float: left;
	position: relative;
	right: 50%;
	display: block;
}
#nav-bar ul li a {
	display: block;
	padding: 10px 20px;
	color:#fff;
	text-decoration: none;
}
#nav-bar ul li a:hover{
	background-color: blue;
}
#highlight {
	text-decoration: underline;
	color: white;
}
body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 20px;
	color: #114dc3;
  	line-height: 120%;
	clear: both;
	list-style-type: none;
}
#main {
	background-color: white;
	padding: 2% 30%;
}
h1,h2,h3 {
	font-family: 'Lekton', sans-serif;
}
.img {
	height: 100%;
	width: 100%;
}