nav ul {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
	position: relative;
	float:left;
	background-color: black;
	width: 100%;
}
nav ul li {
	left:50%;
	position: relative;
}
nav ul li a {
	display: block;
	padding: 10px 20px;
	color:#fff;
	text-decoration: none;
}